@import url(./font-hurme.css);
@import url(./font-gilroy.css);
@import url(./reset.css);

.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 64px 20px 32px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
}

.header .share-btn {
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 900;
  font-size: 12px;
  position: relative;
}

.header .share-btn .share-content {
  position: absolute;
  top: 10px;
  right: 0;
  background-color: #1a1e23;
  display: flex;
  flex-direction: column;
  width: 140px;
  border-radius: 12px;
  overflow: hidden;
}

.header .share-btn .share-content a {
  padding: 10px 18px;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.1s linear;
  font-weight: 500;
}

.header .share-btn .share-content a:hover {
  background-color: #14181c;
}

.header .share-btn .hidden {
  display: none;
}

.container .title {
  font-size: 44px;
  font-weight: 700;
  margin: 20px 0;
}

.container .description {
  font-size: 24px;
  margin-bottom: 24px;
}

@media screen and (max-width: 767px) {
    .container .title {
        font-size: 32px;
      }
      
      .container .description {
        font-size: 18px;
      }
  }

.container .sponsor-section {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.container .sponsor-section .sponsor-logo {
  margin-right: 10px;
  padding-right: 10px;
  vertical-align: middle;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.container .sponsor-section .sponsor-logo img {
  width: 50px;
}

.container .sponsor-section .sponsor-text {
  font-size: 10px;
  font-weight: 700;
}

.container .content-section {
  display: flex;
  flex-direction: column;
  gap: 18px;
  counter-reset: section;
  margin-bottom: 48px;
}

.container .content-section .content-box {
  background-color: #f4f5f6;
  padding: 20px 40px 20px 20px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.container .content-section .content-box:after {
  counter-increment: section;
  content: counters(section, ".");
  font-size: 6em;
  font-weight: 900;
  color: #075284;
  opacity: 0.1;
  position: absolute;
  right: 0;
  bottom: -36px;
}

.footer {
  background: radial-gradient(
    179.78% 128.17% at -10.19% -11.54%,
    #ffffff 0%,
    #ecf2f6 2%,
    #a5c4d5 11%,
    #6a9db9 20%,
    #3c7fa4 28%,
    #1b6a94 34%,
    #075c8b 40%,
    #005888 44%,
    #094e81 51%,
    #21366f 63%,
    #23356e 64%,
    #18244c 73%,
    #010101 91%
  );
  padding-top: 64px;
  width: 100%;
  display: flex;
}

.footer .footer-content {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  padding: 0 20px;
}

.footer .footer-content .footer-content-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 50%;
  margin-bottom: 300px;
  z-index: 2;
  position: relative;
}

.footer .footer-content .footer-content-text .one {
    margin-bottom: 20px;
  }

.footer .footer-content .footer-content-text .two {
  border: 2px solid #fff;
  border-radius: 100px;
  padding: 5px 20px;
  position: relative;
  left: -20px;
  margin-bottom: 10px;
}

.footer .footer-content .footer-content-text .logo {
  margin-top: 36px;
  max-width: 100px;
}

@media screen and (max-width: 767px) {
  .footer .footer-content .footer-content-text {
    margin-bottom: 400px;
  }

  .footer .footer-content .footer-content-text .two {
    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.footer .footer-women {
  max-width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.footer .footer-cta {
  background-color: #fff;
  border-radius: 100px;
  border: none;
  position: absolute;
  z-index: 9;
  bottom: 48px;
  left: 20px;
  width: calc(100% - 40px);
  padding: 24px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.ask-bundle-ai {
  width: 80%;
  max-width: 540px;
  position: fixed;
  left: 50%;
  bottom: 48px;
  transform: translate(-50%, 0);
  display: flex;
  background-color: #6a6f76;
  color: #fff;
  padding: 24px;
  font-size: 18px;
  border-radius: 100px;
  text-decoration: none;
  align-items: center;
  transition: all 0.1s linear;
  z-index: 8;
}

@media screen and (max-width: 574px) {
  .ask-bundle-ai span {
    display: none;
  }
}

.ask-bundle-ai:hover {
  background-color: #5f6369;
}

.ask-bundle-ai .bundle-ai-logo {
  margin-right: 16px;
}

.ask-bundle-ai .btn-arrow {
  margin-left: auto;
}
